<% provide(:title, 'All users') %>
<h1>All users</h1>

<table class="table table-hover">
  <tbody >
    <thead>
      <tr class="">
        <th>入会順</th>
        <th>名前</th>
        <th>内線番号</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.src %></td>
      </tr>
    <% end %>
  </tbody>
</table>