<br>
<h1 class="text-success">アプリ紹介</h1>
<h2>1. 会員登録をして頂いたユーザー同士がおしゃべりできます</h2>
<h2>2. 音楽だけをお聞きすることも出来ます</h2>
<img src="/app/assets/images/user_calling.png" class="img-thumbnail col-md-8">
<br>
<br>
<h1 class="text-success">使い方紹介</h1>
<h2>3. <a href="https://qiita.com/toketoke/private/c4a1b10508898dc4bf6d" target="_blank">このページ</a>を参考に、スマートフォンアプリ or pc版アプリをインストールして下さい</h2>
<h2>※使い方も詳しく説明しております</h2>
<h2>※音楽をお聞きになる所まで、出来ると思います🙇‍♂️</h2>
<br>
<h1 class="text-success">利用料金について</h1>
<h2>4. 一切いただいておりません。</h2>
<h2>アプリのインストールから</h2>
<h2>・音楽をお聞きになられる</h2>
<h2>・友達同士で電話をする</h2>
<h2>まで、全て無料で出来ます</h2>
<br>
<h1 class="text-success">テスト用ログインユーザー情報</h1>
<h2>5. 会員登録が煩わしい方は、こちらをご利用ください</h2>
<h2>Eメール:tan@tan</h2>
<h2>パスワード:tantan</h2>
<h2><a href="https://telephone.tokeshi.cf/users/sign_in" class="btn btn-success btn-lg">ログインする</a>